###############################################################################
#
# Files to ignore
#
###############################################################################

local/*
bin/*

*.zip
*.zip.o
*.o

trace.def
trace.log

*.pro.user
core.*
vgcore.*
*.bak
*~
*.pyc
.~lock.*

