[submodule "engine/libs/DerelictSDL2"]
	path = engine/libs/DerelictSDL2
	url = https://github.com/DerelictOrg/DerelictSDL2.git
[submodule "engine/libs/DerelictGL3"]
	path = engine/libs/DerelictGL3
	url = https://github.com/DerelictOrg/DerelictGL3.git
[submodule "engine/libs/DerelictUtil"]
	path = engine/libs/DerelictUtil
	url = https://github.com/DerelictOrg/DerelictUtil.git
[submodule "engine/libs/DerelictASSIMP3"]
	path = engine/libs/DerelictASSIMP3
	url = https://github.com/DerelictOrg/DerelictASSIMP3.git
[submodule "engine/libs/gl3n"]
	path = engine/libs/gl3n
	url = https://github.com/Dav1dde/gl3n.git
[submodule "engine/libs/DerelictLua"]
	path = engine/libs/DerelictLua
	url = https://github.com/mkoskim/DerelictLua
