###############################################################################
#
# Files to ignore
#
###############################################################################

#------------------------------------------------------------------------------
# Directories for local files
#------------------------------------------------------------------------------

local/*
bin/*

#------------------------------------------------------------------------------
# Result files
#------------------------------------------------------------------------------

*.zip
*.zip.o
*.o
*.obj
*.pyc

.dub
dub.selections.json
trace.def
trace.log

#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

*.bak
*~
*.pro.user
core.*
vgcore.*
.~lock.*

